<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>
  <header class="">
    <div class="spacer"></div>
    <div class="logo">
        <img src="/assets/logo.png" alt="CRI Fluid Systems Logo">
    </div>
</header>
<div class="container">
    <div class="top-section">
        <div class="top-left">
            <img src="/assets/1.png" alt="trophy image">
        </div>
        <div class="top-right">
            <h3 class="award-desc">C.R.I PUMPS WINS THE NATIOAL ENERGY CONSERVATION AWARD 2018 for the 4th time.
            </h3>
            <ul class="company-highs">
                <li>C.R.I's is a energy products are well recognized by the various Government Institutions,as
                    trustworthy products for
                    various projects across the globe to save energy.</li>
                <li>C.R.I's is the highest contributor in the country for the projects of EESL(Energy Efficiency
                    Services Limited) to replace the
                    old inefficient pumbs with 5 Star rated energy efficient smart pumps with IoT enabled control
                    panel.</li>
            </ul>
            <div class="award-section">
                <img src="/assets/2.png" alt="award receiving image">
                <p class="award-desc">Government of india has awarded the <strong>"National Energy Conservation
                        Award 2018"</strong>. Mr.G.Selvaraj,Joint Managing Director
                    of C.R.I Group received the award from Smt. Sumitra Mahajan, Speaker of Lok Sabha & Shri.Raj
                    Kumar Singh,Honerable Minister of State.</p>
            </div>
        </div>
    </div>
    <div class="product-section">
        <p class="desc-text">
            INSTALLED OVER 10 LAKHS STAR RATED PUMPSETS ACROSS THE COUNTRY RESULTING IN
            A CUMULATIVE SAVING OF MORE THEN 9,000 MILLION
            UNITS OF POWERR FOR THE NATION.
        </p>
        <div class="product-images">
            <img src="/assets/3.png" alt="machines">
        </div>
        <p class="product-category"><span>Values</span><span>Pumps</span><span>Pipes</span><span>IoT
                Drivers&Controllers</span><span>Wires & Cables</span><span>Solar Systems</span><span>Motors</span>
        </p>
    </div>
    <div class="product-segments">
        <h3 class="ps-head">C.R.I FLUID SYSTEMS PRODUCTS CATER TO DIVERSE SEGMENTS</h3>
        <div class="product-list">
            <a href="#">CHEMICALS & PROCESS</a><span>|</span><a href="#">POWER</a><span>|</span><a href="#">WATER &
                WASTE WATER</a><span>|</span><a href="#">OILS & CAS</a><span>|</span><a
                href="#">PHARMA</a><span>|</span><a href="#">SUGARS & DISTILLERIES</a><span>|</span><a
                href="#">MARINE & DEFANCE</a><span>|</span><a href="#">METAL & MINING</a><span>|</span><a
                href="#">FOOD & BEVEARGE</a><span>|</span><a href="#">PETROCHEMICAL & REFINERIS</a><span>|</span><a
                href="#">SOLAR</a><span>|</span><a href="#">BUILDING</a><span>|</span><a
                href="#">HVAC</a><span>|</span><a href="#">FIRE FITCCHING</a><span>|</span><a href="#">AGRICULTURE &
                RESIDENTIAL</a>
        </div>
    </div>
</div>
<footer>
    <div class="footwrap">
        <div class="foot-item">Toll Free <strong>1800 200 1234</strong></div>
        <div class="foot-item"><a href="https://www.facebook.com/cripumps">www.facebook.com/cripumps</a></div>
        <div class="foot-item"><a href="https://www.crigroups.com">www.crigroups.com</a></div>
    </div>
</footer>

  </div>